<h1>New User</h1>

<%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
<% end %>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
    <div>
        <%= text_input f, :name, placeholder: "Name" %>
        <%= error_tag f, :name %>
    </div>
    <div>
        <%= text_input f, :username, placeholder: "Username" %>
        <%= error_tag f, :username %>
    </div>
    <div>
        <%= inputs_for f, :credential, fn cf -> %>
            <%= text_input cf, :email, placeholder: "Email" %>
            <%= error_tag cf, :email %>
            <%= password_input cf, :password, placeholder: "Password" %>
            <%= error_tag cf, :password %>
        <% end %>
    </div>
    <%= submit "Create User" %>
<% end %>
